<a href="#main-content" class="skip-link">Skip to content</a>
<style>
    .skip-link{
        position:absolute;
        top: -40px; /* Nascosto fuori dallo schermo per impostazione predefinita. */
        left: 0;
        background-color: black;
        color:white;
        padding: 8px;
        z-index: 100;
    }

    .skip-link:focus{
        top: 0; /* Mostra quando è attivo */
    }
</style>

