---
import '../../styles/hero.css'
---

<section class="hero-main-section" aria-label="Hero section">
    <h1 class="hero-main-title">Accessibility Components Library</h1>
    <h2 class="hero-sub-title">Vue 3 Components Library</h2>
    <p class="hero-pars">User-oriented accessibility, improved UX, fast and lightweight components</p>
    <div class="cta-container">
    <a href="" class="button-primary">Explore components →</a>
    <a href="" class="button-secondary">Get Started</a>
</div>
</section>