---
import '../../styles/sidebar.css'
---

<nav class="sidebar-list" aria-label="Sidebar list section">
<ul class="list-components" aria-label="List of components">
    <li><a href="/components/alert"><span>Alert</span></a></li>
    <li><a href="/components/toggle"><span>Toggle Switch</span></a></li>
    <li><a href="/components/tabs"><span>Tabs</span></a></li>
    <li><a href="/components/modal"><span>Modal</span></a></li>
    <li><a href="/components/dropdown"><span>Dropdown</span></a></li>
    <li><a href="/components/form"><span>Validation Form</span></a></li>
</ul>
</nav>