---
//BaseLayout.astro
import '../styles/tokens.css'
import '../styles/reset.css'
import '../styles/global.css'
import SkipToContent from '../components/a11y/SkipToContent.astro'
import Header from '../components/ui/Header.astro'
import Footer from '../components/ui/Footer.astro'
---
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accessibility Component Library</title>
	</head>
	<body>
		<SkipToContent/>
		<Header/>
		  <main id="main-content">
			    <slot/>
  			</main>
		
 		<Footer/>
	</body>

</html>